body {
	margin: 0;
	font-family: 'Open Sans';
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat';
	font-weight: normal;
}
#loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	transition: transform 1s ease;
	position: absolute;
	background: #f2f2f2;
	width: 100%;
	z-index: 100;
}
#loading .wrapper {
	font-family: "Montserrat";
	font-weight: normal;
	font-size: 2rem;
	display: flex;
	align-items: center;
	width: 720px;
	justify-content: space-between;
	padding: 7px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	border-radius: 3px;
	background: #fff;
}
#loading .wrapper:hover {
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
	cursor: text;
}
#loading .wrapper h1 {
	margin: 0;
	padding-right: 6px;
	animation: blink 1000ms step-start infinite;
	border-right: 4px solid #000;
	font-weight: normal;
}
#loading .wrapper h1::before {
	content: "'";
	color: transparent;
}
#loading .wrapper h1 span.hidden {
	color: transparent;
}
#loading img {
	display: block;
	height: 4rem;
	width: auto;
}
.image_wrapper {
	background: #555;
	padding: 5px;
	border-radius: 3px;
}
#loading .image_wrapper:hover {
	cursor: pointer;
}
#resume {
	width: 100%;
	height: 100%;
}
@keyframes blink {
	0% {border-right: 4px solid #000;}
	50% {border-right: 4px solid transparent;}
	100% {border-right: 4px solid #000;}
}
#container {
	height: 100%;
}
#container header {
	height: 150px;
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	display: flex;
	padding: 30px 20px 0 20px;
	position: relative;
}
header #search {
	display: flex;
	height: 2.2rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	width: calc(50% - 150px);
	min-width: 220px;
	padding: 5px;
	justify-content: space-between;
}
header img {
	display: block;
	height: 100%;
	width: auto;
}
header .image_wrapper {
	width: 2.2rem;
	height: 2.2rem;
	box-sizing: border-box;
}
header .image_wrapper:hover {
	cursor: pointer;
}
header #searchbar {
	border: none;	
	font-size: 1.1rem;
	box-sizing: border-box;
	padding: 5px;
	outline: none;
	font-family: 'Open Sans';
	width: 100%;
}
header #search:hover {
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
header .wrapper {
	padding: 5px 0;
	box-sizing: border-box;
	min-width: 150px;
}
header .wrapper h1 {
	margin: 0;
	transition: color 0.25s ease;
}
header .wrapper h1:hover {
	cursor: pointer;
	color: #888;
}
header #profile {
	height: 6rem;
	display: flex;
	justify-content: flex-end;
	width: calc(50% - 150px);
	position: relative;
	margin-left: 10px;
}
header #profile #profile_wrapper {
	border-radius: 50%;
	box-shadow: inset 0 0 10px #222;
	margin: -10px 0 0 -10px;
	height: calc(100% + 20px);
	width: calc(6rem + 20px);
	position: absolute;
	border: 10px solid #555;
	box-sizing: border-box;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	transition: transform 300ms ease;
	pointer-events: all;
}
header #profile #profile_wrapper:hover {
	transform: rotate(30deg);
	cursor: pointer;
}
header #profile img {
	display: block;
	border-radius: 50%;
	position: absolute;
}
header #profile #information {
	position: absolute;
	background: #e7e7e7;
	clear: right;
	top: calc(6rem + 20px);
	right: -6rem;
	height: 240px;
	width: 400px;
	padding: 30px;
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.08);
	box-sizing: border-box;
	opacity: 1;
	z-index: 10;
}
header #profile #information::before {
	content: "";
	background: #e7e7e7;
	height: 20px;
	width: 100%;
	position: absolute;
	top: -20px;
	left: 0;
	-webkit-clip-path: polygon(calc(100% - 3rem) 0, calc(100% - 4rem) 100%, calc(100% - 2rem) 100%, calc(100% - 3rem) 0);
	clip-path: polygon(calc(100% - 3rem) 0, calc(100% - 4rem) 100%, calc(100% - 2rem) 100%, calc(100% - 3rem) 0);
	z-index: 10;
}
header #profile #information.ng-hide {
	opacity: 0;
	height: 0;
}
header #profile #information.ng-hide-add, #information.ng-hide-remove {
	transition: all 0.3s ease;
}
header #tab_selection {
	position: absolute;
	top: 100px;
	left: 180px;
	height: 50px;
	display: flex;
	font-size: 1.2rem;
}
header #tab_selection label {
	width: 120px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 5px;
	position: relative;
}
header #tab_selection label::after {
	content: "";
	height: 5px;
	position: absolute;
	width: 100%;
	background: #555;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transition: transform 0.2s ease;
}
header #tab_selection label:hover {
	cursor: pointer;
}
header #tab_selection label:hover::after {
	transform: scaleX(1);
}
header #tab_selection label.selected::after {
	transform: scaleX(1);
}
header #tab_selection input[type=radio] {
	width: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
}

#main {
	background: #f2f2f2;
	height: 100%;
	padding: 50px;
}

@media screen and (max-width: 720px) {
	#loading .wrapper {
		font-size: 1rem;
	}
	#loading img {
		height: 2rem;
	}
	#loading .wrapper {
		width: 300px;
	}
	#loading .wrapper h1 {
		border-right: 2px solid #000;
	}
	@keyframes blink {
		0% {border-right: 2px solid #000;}
		50% {border-right: 2px solid transparent;}
		100% {border-right: 2px solid #000;}
	}
	header #profile {
		height: 5rem;
		width: calc(30% - 150px);
	}
	header #profile #profile_wrapper {
		width: calc(5rem + 10px);
		border: 5px solid #555;
		margin: -5px 0 0 -5px;
		height: calc(100% + 10px);
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
	}
	header #profile #information {
		top: calc(5rem + 20px);
		right: -5rem;
		height: 200px;
		width: 300px;
		padding: 20px;
	}
	header #profile #information::before {
		-webkit-clip-path: polygon(calc(100% - 2.5rem) 0, calc(100% - 3.3rem) 100%, calc(100% - 1.6rem) 100%, calc(100% - 2.5rem) 0);
		clip-path: polygon(calc(100% - 2.5rem) 0, calc(100% - 3.3rem) 100%, calc(100% - 1.6rem) 100%, calc(100% - 2.5rem) 0);
	}
	header #tab_selection {
		left: 0;
		width: 100%;
		justify-content: center;
	}
	header #tab_selection label {
		width: 85px;
	}
}
@media screen and (max-width: 480px) {
	#container header {
		height: 110px;
	}
	header #search {
		height: 2rem;
		width: 50%;
		min-width: 150px;
	}
	header #searchbar {
		font-size: 0.8rem;
		padding: 3px;
	}
	header .image_wrapper {
		width: 2rem;
		height: 2rem;
	}
	header #profile {
		height: 3rem;
		width: 30%;
	}
	header #profile #profile_wrapper {
		width: calc(3rem + 10px);
	}
	header #profile #information {
		top: calc(3rem + 20px);
		right: -3rem;
		height: 150px;
		width: 250px;
		padding: 10px;
	}
	header #profile #information::before {
		-webkit-clip-path: polygon(calc(100% - 1.5rem) 0, calc(100% - 2.2rem) 100%, calc(100% - 0.8rem) 100%, calc(100% - 1.5rem) 0);
		clip-path: polygon(calc(100% - 1.5rem) 0, calc(100% - 2.2rem) 100%, calc(100% - 0.8rem) 100%, calc(100% - 1.5rem) 0);
	}
	header #tab_selection {
		top: 80px;
		height: 30px;
		font-size: 1.2rem;
		left: 0;
		width: 100%;
		justify-content: center;
	}
	header #tab_selection label {
		font-size: 0.9rem;
		width: 75px;
	}
	header .wrapper {
		display: none;
	}
}