body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat';
	font-weight: normal;
	margin: 0;
}

p, a {
	font-family: 'Open Sans';
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #fafafa;
}

.image img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 20px;
}
