body {
	margin: 0;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	margin: 0;
	font-size: 2em;
}

p, a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	text-align: center;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #fafafa;
	padding: 10px;
	box-sizing: border-box;
}

img {
	width: 10em;
	height: auto;
	border-radius: 50%;
	margin: 20px;
}
